GEMINI_API_KEY=AIzaSyCOQAev5kHU8fUHaDatDJcuiMx6idJLgeY


# Database Configuration
DATABASE_URL=postgresql://darktriad_user:YYBZCmxpRdEu7vOcXFx4ev84M7Ok4YyX@dpg-d5ppl1i4d50c73acu9eg-a.oregon-postgres.render.com/darktriad
DB_HOST=dpg-d5ppl1i4d50c73acu9eg-a.oregon-postgres.render.com
DB_PORT=5432
DB_NAME=darktriad
DB_USER=darktriad_user
DB_PASSWORD=YYBZCmxpRdEu7vOcXFx4ev84M7Ok4YyX

# Server
PORT=8080